@import './palette.css';
@import './base.css';
@import './mp.css';
@import './primeCard.css';
@import './primeSelect.css';
@import './weaponTable.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
